<h1>VideoPage</h1>
<p>Bury clips what you like</p>

YoutubeのHTMLコードを枠内にコピペしてPushして下さい！<br>
HTMLコードの取得方法は<%= link_to 'こちら', 'https://support.google.com/youtube/answer/171780?hl=ja', target: "_blank" %> を参照<br>

<%= form_tag "/video" do %>
  <textarea name="htmlcode" rows="4" cols="100"></textarea><br>
  <input type="submit" value="Push">
<% end %>
<br>


<br>===========================================<br>

<div class="clips">
  <% @videos.each do |video| %>
    <p class="fa fa-plus clip"><br>
      <i class="change-size">Change Size</i><br><%= video.code.html_safe %>
    </p>
  <% end %>
</div>

<br>=============================================<br>



