<section class="videopage">
  <div id="description">
    <h1>VideoPage</h1>
    <p>Bury clips what you like</p>
    YoutubeのHTMLコードを枠内にコピペしてPushして下さい！<br>
    HTMLコードの取得方法は<%= link_to 'こちら', 'https://support.google.com/youtube/answer/171780?hl=ja', target: "_blank" %> を参照<br>
  </div>

  <%= form_tag request.url, remote: true do %>
    <textarea name="htmlcode" rows="4" cols="100" id="htmlcode"></textarea><br>
    <input type="submit" value="Push" id="push">
    <div class="error-msg">
      HTMLCode is empty!!
    </div>
  <% end %>
  <br>
  <div id="test"></div>
  <div id="addvideo" data='data'></div>

  <br>===========================================<br>

  <div id="clips">
    <%= render @videos %>
  </div>

  <br>=============================================<br>
</section>
