// videos index section
.videopage {
  background-color: lightgray;
}

.description {
  padding: 10px 10px;
}

.error-msg {
  color: red;
  display: none;
}

// video space

.push-video-ajax {
  text-align: center;
}

#clips {
  text-align: center;
}

.fa-plus {
  color: lightgray;
}

.fa-plus span {
  color: black;
}

.clip-box {
  padding: 15px 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.clip {
  padding: 5px 2px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.option-bar {
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fa-trash-alt {
  float: right;
  padding-right: 15px;
}

.fa-caret-square-left{
  padding-right: 2px;
  padding-left: 2px;
}

.fa-caret-square-right{
  padding-right: 2px;
  padding-left: 2px;
}
